.web-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.videos {
    display: grid;    
    grid-template-columns: auto auto;
    gap: 2vmin;
    justify-content: space-evenly;
}