.web-content {
    display: flex;
    align-items: center;
    flex-direction: column;    
}

.about {
    margin: 2vmin 20vmin 2vmin 20vmin;
    font-size: 4vmin;
    text-align: justify;
}

.videos {
    display: grid;    
    grid-template-columns: auto auto;
    gap: 2vmin;
    justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
    .videos {        
        display: grid;
        grid-template-columns: auto;
        gap: 2vmin;
        justify-content: space-evenly;
    }

    .videos div div iframe{
        height: 50vmin;
        width: 80vmin;
    }
}

@media screen and (max-width: 1024px) {
    .videos {        
        display: grid;
        grid-template-columns: auto;
        gap: 2vmin;
        justify-content: space-evenly;
    }

    .videos div div iframe{
        height: 50vmin;
        width: 80vmin;
    }
}